* {
  box-sizing: border-box;
}
.complete {
  text-decoration: line-through;
}
.todo {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.todo-item {
  font-size: 1.2rem;
}
p {
  text-align: left;
  font-size: 10px;
}

header {
  text-align: center;
  font-size: 1.5rem;
  margin: 15px;
}
h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: gray;
}
h6 {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
  color: gray;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-right: 10px;
}
.hover:hover {
  cursor: pointer;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.small-size {
  font-size: 1.7rem;
  padding-left: 4px;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 2%;
}
